body {
    margin: 0;
}

.input, .button {
    display: block;
    margin-bottom: 0.5rem;
}

.navbar {
	box-shadow: 0 0 20px #888;
	background-color: #042a45 !important;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    height: 60px;
    box-sizing: border-box;
    position: fixed;
    left:0;
    right:0;
    z-index: 10;
}

.sidebar {
    background-color: #08395e !important;
    position: fixed;
    z-index: 10;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px)
}

.sidebar-item {
    width: 64px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-item--is-active{
    background-color: #c10404 !important
}

.sidebar-item svg {
    width: 28px;
    color: #fff;
    max-height: 24px;
}

.blazor-handle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-left: 4rem;
    padding-top: calc(2rem + 70px);
    padding-bottom: calc(2rem + 15px);
}

.blazor-handle form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
	margin-left: 4rem;
	padding-top: 70px;
	padding-bottom: 15px;
}