@page "/reviews/reports"

<Page Title="Reports">
    <div class="reviewme-flex reviewme-bg-info reviewme-p-3 reviewme-items-center">
        <span class="fas fa-frown reviewme-mr-2"></span>
        <span>
            Sorry, this page is not implemented yet.
        </span>
    </div>
</Page>
